{% extends 'admin/base.html.twig' %}

{% block title %}Maskeb - Modification mot de passe{% endblock %}

{% block body %} 
    <div class="container">
        <div class="row ">
            <div class="col-md-6 col-md-offset-3">
                <h3>Remplissez le formulaire</h3>
                {{form_start(form)}}
                {{form_widget(form)}}
                <button type="submit" class="btn btn-primary">Valider</button>
                {{form_end(form)}}
            </div>
        </div>
    </div>
{% endblock %}