{% extends 'base.html.twig' %}

{# A integrer dans le front end template #}
{% block title %}Maskeb - Acceuil{% endblock %}

{% block body %}
        <div class="" style="background-color:#9bbaeb; color:white;">
            <h1 class="text-center">Bienvenue sur le site de la Mission d’aide Saint Konrad pour l’enfance au Burundi - MASKEB</h1>
        </div>
        <div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Qui sommes- nous ?</h2>
                            <h3 class="card-title">MASKEB (Mission d’aide Saint Konrad pour l’enfance au Burundi)</h3>
                            <p class="card-text">
                                Tout a démarré après un constat amer qu’il y a des enfants qui, pour survivre cherchent la nourriture sur les décharges publiques dans la localité MUBONE à la périphérie de la ville économique Bujumbura  au Burundi. Ces enfants souffrent de la malnutrition et ne fréquentent pas   l’école et sont âgés entre 4 et 10 ans.  Alors que les autres enfants le matin prennent le chemin de l’école, ces enfants laissés pour compte prennent le chemin des dépotoirs pour  guetter un camion transportant des ordures. Le Père Claver NIYONGABO en mission d’étude à Strasbourg a partagé cette situation dramatique et désastreuse à quelques chrétiens de la paroisse de  communautés de paroisse de Kochersberg en Alsace. Ils ont décidé alors de faire quelque chose pour donner de l’espoir à ses enfants, pour qu’ils regagnent le chemin de l’école. Ils ont décidé alors de créer l’association MASKEB (Mission d’aide de saint Konrad pour l’enfance au Burundi) pour accueillir avec sourire et bienveillance ces enfants qui vivent dans la pauvreté extrême. L’association MASKEB travaille avec   une  association locale qui s’appelle saint Konrad qui cherche tant bien que mal à changer la vie de ces enfants pour leur donner la joie de vivre et la chance de réussir dans l’avenir. Grâce à un processus de conseil  et de médiation, l’association locale Saint Konrad travaille pour renforcer les liens familiaux des enfants pour favoriser la réinsertion familiale des enfants et soutenir des projets d’auto développement pour accompagner ces familles en situation de précarité pour subvenir aux besoins élémentaires (manger et s’habiller) de leur foyer.
                                L’association MASKEB  a vu le jour au mois de septembre 2020 et compte 15 membres actuellement.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Quels sont les objectifs de l’association MASKEB ?</h2>
                            <h3 class="card-title"></h3>
                            <p class="card-text">
                                <div>
                                <ul>
                                    <li>
                                        Améliorer le quotidien des enfants en leur apportant un mieux-être dans les domaines de la nutrition, de la santé et de l’éducation :
                                    </li>
                                    <li>                         
                                        Mener un plaidoyer pour l’accès de ces  enfants les plus démunis au Burundi à la nutrition, à la scolarisation, à la santé physique et psychique
                                    </li>
                                    <li>
                                        Permettre aux familles de se prendre en charges en favorisant essentiellement l’aide financière à des mamans pour se subvenir aux besoins de leurs familles en investissant dans activités génératrices de revenus.
                                    </li>
                                    <li>
                                        Améliorer les conditions de vie de ces familles en situation de survie, de précarité en aidant à couvrir leurs besoins essentiels : alimentation, santé, logement, scolarisation des enfants.   
                                    </li>
                                </ul>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>      
            </div>
        </div>
        <div>            
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Parrainage</h2>
                            <h3 class="card-title">Comment parrainer</h3>
                            <p class="card-text">
                                <ul>
                                    <li>
                                        On devient membre de l’association MASKEB en donnant une cotisation. Pour cette année, la cotisation est fixée à 5 euros par mois soit 60 euros par an.
                                    </li>
                                    <li>                         
                                        Vous pouvez parrainer un enfant, c’est l’accompagner pour sa scolarisation ou sa formation, et c’est lui offrir la chance d’un avenir meilleur. C’est un engagement dans la durée, traduit par un versement mensuel.
                                    </li>
                                    <li>
                                        Vous pouvez choisir (ou vous laissez l’association MASKEB choisir) une famille. Si l’association MASKEB choisit, elle vous donnera une famille dont la situation est précaire et nécessitant une intervention urgente.
                                    </li>
                                    <li>
                                        Si vous décidez de donner 20 euros par mois, cette somme sera gérée par la famille en collaboration avec l’association locale Saint Konrad pour investir dans des activités génératrices des revenus pour aider la famille à se prendre en charge en vue de sortir de la situation de précarité
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Les activités déjà réalisées</h2>
                            <h3 class="card-title"></h3>
                            <p class="card-text">
                                <div>
                                L’association MASKEB en collaboration avec l’association Saint Konrad a déjà réalisé pas mal d’activités en faveur des enfants en situation de précarité vivant dans la localité de MUBONE.
                                <ul>
                                    <li>
                                        L’inscription de trente enfants à l’école fondamentale de MUBONE
                                    </li>
                                    <li>                         
                                        L’achat des uniformes scolaires pour trente enfants
                                    </li>
                                    <li>
                                        L’achat du matériel scolaire pour trente enfants (Cahiers, stylos, chaussures, …)
                                    </li>
                                    <li>
                                        L’octroi d’un repas de midi à raison d’un euros par enfant par jour (mois de septembre) pour qu’ils n’abandonnent pas l’école et ne  retournent pas  dans les décharges publiques.
                                    </li>
                                </ul>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>      
            </div>
        </div>
        <div>            
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Parrainage de l’association MASKEB</h2>
                            <h3 class="card-title"></h3>
                            <p class="card-text">
                                En parrainant l’association MASKEB, vous apportez un soutien remarquable dans nos projets de nutrition, de santé,  de scolarisation  des enfants et dans des projets d’autofinancement des familles déshéritées de MUBONE :
                                <ul>
                                    <li>
                                        Votre contribution permettra de financer les soins de santé des enfants des enfants, l’hospitalisation des enfants qui tombent souvent malade à cause de la malnutrition
                                    </li>
                                    <li>                         
                                        Votre parrainage permettra de constituer un fond pour les projets de micro crédits sociaux pour former les familles dans certains métiers comme la couture, la boulangerie,…
                                    </li>
                                    <li>
                                        Le parrainage de l’association permettra également l’accompagnement des enfants pour les cours de soutien, les loisirs, …
                                    </li>                                    
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>                    
            </div>
        </div>
{# fin du text à intégrer #}
{% endblock %}
