{% extends 'admin/base.html.twig' %}

{% block title %}Administration des categories de ressources{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5" style="background:#578ec9; border-radius:7px; color:white;">   
            <h4>Gestion des catégorie de ressources</h4>
        </div>
        <div class="col-md-5"></div>
        <div class="col">
            <a href="{{ path('admin_categoryincome_create') }}" class="btn btn-success">Nouvelle catégorie</a>
        </div>
    </div>    
    <div style="height:15px;"></div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Appellation de la catégorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for cat in catIncomes %}
            <tr>
                <td>{{cat.id}}</td>
                <td>{{cat.name}}</td>
                <td>
                    <a href="#" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a href="#" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
