<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700|Anton" rel="stylesheet">
    

    <link rel="stylesheet" href="/visitor_asset/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/visitor_asset/css/bootstrap.min.css">
    <link rel="stylesheet" href="/visitor_asset/css/magnific-popup.css">
    <link rel="stylesheet" href="/visitor_asset/css/jquery-ui.css">
    <link rel="stylesheet" href="/visitor_asset/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/visitor_asset/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="/visitor_asset/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="/visitor_asset/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="/visitor_asset/css/aos.css">

    <link rel="stylesheet" href="/visitor_asset/css/style.css">
    {% block stylesheets %}{% endblock %}
  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div class="site-wrap mt-2"  id="home-section">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>   
      
    {% include 'partials/header.html.twig' %}
    
    {% block body %} {% endblock %}

    {% include 'partials/footer.html.twig' %}

  </div>

  <script src="/visitor_asset/js/jquery-3.3.1.min.js"></script>
  <script src="/visitor_asset/js/jquery-ui.js"></script>
  <script src="/visitor_asset/js/popper.min.js"></script>
  <script src="/visitor_asset/js/bootstrap.min.js"></script>
  <script src="/visitor_asset/js/owl.carousel.min.js"></script>
  <script src="/visitor_asset/js/jquery.magnific-popup.min.js"></script>
  <script src="/visitor_asset/js/jquery.sticky.js"></script>
  <script src="/visitor_asset/js/jquery.waypoints.min.js"></script>
  <script src="/visitor_asset/js/jquery.animateNumber.min.js"></script>
  <script src="/visitor_asset/js/aos.js"></script>

  <script src="/visitor_asset/js/main.js"></script>
  {% block javascripts %}{% endblock %}
  </body>
</html>
    